= simple_form_for(@job, html: { class: 'form-horizontal' }) do |f|
  = f.input :title, label: "Job Title"
  = f.select :category, options_for_select(@categories.collect { |c| [c[0].humanize, c[0]]}, {})
  = f.input :description, label: "Job Description"
  = f.input :company, label: "Your Company"
  = f.input :url, lable: "Website"
  %br
  =f.button :submit
